# Hello, Python
Python basic

In [1]:
print('Hello, world') # classical for every language

Hello, world

In this part, I will skip the basic, basic for python, like assign variables, evaluations
The function definition and conditional statements will be presented.

A comparator function is used to present how to 
1. define a function
2. return a result
3. add function description

In [2]:
def send_email(num_visits, visits_email, visits_coupon):
    '''
    Function: 
    :param num_visits: the number of times a customer has visited the theater
    :param visits_email:the minimum number of visits the customer must have made for them to receive a marketing email
The function must print either
    :param visits_coupon:  the minimum number of visits the customer must have made for them to receive a coupon with their email
    
    :return promotion: if the customers can have the promotion
    '''
    promotions = '' # return result
    if num_visits >= visits_coupon:
        promotion = 'Send email with coupon.'        
    elif num_visits >= visits_email:
        promotion = 'Send email only.'
    else:
        promotion = 'Not enough visits.'
    return promotion

In [4]:
send_email(num_visits=3, visits_email=5, visits_coupon=8)   # Should print 'Not enough visits.'

'Not enough visits.'

In [6]:
send_email(num_visits=6, visits_email=5, visits_coupon=8)   # Should print 'Send email only.'

'Send email only.'

In [9]:
send_email(num_visits=10, visits_email=5, visits_coupon=8)

'Send email with coupon.'

## Tips
*   Conditional statements, comparison operators, and logical operators play a major role in automating processes and controlling the branching of code execution.
*   Conditional statements allow you to determine whether a specific set of criteria has been met.
*   Comparison operators allow you to compare pairs of values.
*   Comparison operators such as `>=` and `<=` can be combined to select a range of data within a specific parameter.
*   Logical operators such as `and` and `or` allow you to check more than one condition at a time.

# Format strings
Use format() method to insert values into your string, indicated by braces.

In [11]:
price = 7.75
with_tax = price * 1.07
print('Base price: ${:.2f} USD. \nWith tax: ${:.2f} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.29 USD.

In [12]:
# Define a function that converts Fahrenheit to Celsius.
def to_celsius(x):
    return (x-32) * 5/9

# Create a temperature conversion table using string formatting
for x in range(0, 101, 10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

# String slicing

In [13]:
# The index() method returns index of character's first occurrence in string.
pets = 'cats and dogs'
pets.index('s')

3

In [15]:
# Access the character at a given index of a string.
name = 'Jolene'
name[0]

'J'

In [19]:
sentence = 'A man, a plan, a canal, Panama!'
sentence[-5:]

'nama!'

# Iterate with a `while` loop

In [20]:
from time import sleep

mins = 10

while mins >= 0:
    if mins == 5:
        print('Place your reservation soon! 5 minutes remaining.')
    elif mins == 2:
        print('Don\'t lose your seats! 2 minutes remaining.')
    elif mins == 0:
        print('User timed out.')
    else:
        print(mins)
    mins -=1
    sleep(1)

10
9
8
7
6
Place your reservation soon! 5 minutes remaining.
4
3
Don't lose your seats! 2 minutes remaining.
1
User timed out.

# Tips
* `while` loops may cause a non-stop exectuion. Pay attention when setting a `while` condtion.
* `while` loops allow you to repeat a process until a specific condition is no longer true.
* Variables can be set as counters and incremented by different amounts to help control your `while` loop.

# List

In [21]:
# Assign a list using brackets, with elements separated by commas.
x = ["Now", "we", "are", "cooking", "with", 7, "ingredients"]

# Print element at index 3.
print(x[3])

cooking

In [22]:
# Access part of a list by slicing.
x[1:3]

['we', 'are']

In [23]:
# The append() method adds an element to the end of a list.
fruits = ['Pineapple', 'Banana', 'Apple', 'Melon']
fruits.append('Kiwi')
print(fruits)

['Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [24]:
# The insert() method adds an element to a list at the specified index.
fruits.insert(1, 'Orange')
print(fruits)

['Pineapple', 'Orange', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [25]:
# The remove() method deletes the first occurrence of an element in a list.
fruits.remove('Banana')
print(fruits)

['Pineapple', 'Orange', 'Apple', 'Melon', 'Kiwi']

In [26]:
# The pop() method removes the element at a given index and returns it.
# If no index is given, it removes and returns the last element.
fruits.pop(2)
print(fruits)

['Pineapple', 'Orange', 'Melon', 'Kiwi']

In [27]:
# Reassign the element at a given index with a new value.
fruits[1] = 'Mango'
print(fruits)

['Pineapple', 'Mango', 'Melon', 'Kiwi']

# Tuples

In [29]:
# Tuples are instantiated with parentheses.
fullname = ('Masha', 'Z', 'Hopper')

# Tuples are immutable, so their elements cannot be overwritten.
# You can combine tuples using addition.
fullname = fullname + ('Jr',)
print(fullname)

('Masha', 'Z', 'Hopper', 'Jr')

# Dictionaries

In [30]:
# Create a dictionary with pens as keys and the animals they contain as values.
# Dictionaries can be instantiated using braces.
zoo = {
    'pen_1': 'penguins',
    'pen_2': 'zebras',
    'pen_3': 'lions',
    }

# Selecting the `pen_2` key returns `zebras`, the value stored at that key.
zoo['pen_2']

'zebras'

In [32]:
# Dictionaries can also be instantiated using the dict() function.
zoo = dict(
    pen_1='monkeys',
    pen_2='zebras',
    pen_3='lions',
    )

zoo['pen_2']

'zebras'

In [33]:
# Assign a new key: value pair to an existing dictionary.
zoo['pen_4'] = 'crocodiles'
zoo

{'pen_1': 'monkeys',
 'pen_2': 'zebras',
 'pen_3': 'lions',
 'pen_4': 'crocodiles'}

In [34]:
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ]
# Add new players to the list.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ('Sandra', 19, 'center'),
    ('Mari', 18, 'point guard'),
    ('Esme', 18, 'shooting guard'),
    ('Lin', 18, 'power forward'),
    ('Sol', 19, 'small forward'),
    ]

In [35]:
# Instantiate an empty dictionary.
new_team = {}

# Loop over the tuples in the list of players and unpack their values.
for name, age, position in team:
    if position in new_team:                    # If position already a key in new_team,
        new_team[position].append((name, age))  # append (name, age) tup to list at that value.
    else:
        new_team[position] = [(name, age)]      # If position not a key in new_team,
                                                # create a new key whose value is a list
                                                # containing (name, age) tup.
new_team

{'center': [('Marta', 20), ('Sandra', 19)],
 'point guard': [('Ana', 22), ('Mari', 18)],
 'shooting guard': [('Gabi', 22), ('Esme', 18)],
 'power forward': [('Luz', 21), ('Lin', 18)],
 'small forward': [('Lorena', 19), ('Sol', 19)]}

In [36]:
# The keys() method returns the keys of a dictionary.
new_team.keys()

dict_keys(['center', 'point guard', 'shooting guard', 'power forward', 'small forward'])

In [37]:
# The values() method returns all the values in a dictionary.
new_team.values()

dict_values([[('Marta', 20), ('Sandra', 19)], [('Ana', 22), ('Mari', 18)], [('Gabi', 22), ('Esme', 18)], [('Luz', 21), ('Lin', 18)], [('Lorena', 19), ('Sol', 19)]])

In [38]:
# The items() method returns both the keys and the values.
for a, b in new_team.items():
    print(a, b)

center [('Marta', 20), ('Sandra', 19)]
point guard [('Ana', 22), ('Mari', 18)]
shooting guard [('Gabi', 22), ('Esme', 18)]
power forward [('Luz', 21), ('Lin', 18)]
small forward [('Lorena', 19), ('Sol', 19)]

# Sets

In [40]:
# The set() function converts a list to a set.
x = set(['foo', 'bar', 'baz', 'foo'])
print(x)

{'bar', 'baz', 'foo'}

In [42]:
# The intersection() method (&) returns common elements between two sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.intersection(set2))
print(set1 & set2)

{4, 5, 6}
{4, 5, 6}

In [43]:
# The union() method (|) returns all the elements from two sets, each represented once.
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
print(x1.union(x2))
print(x1 | x2)

{'qux', 'foo', 'bar', 'quux', 'baz'}
{'qux', 'foo', 'bar', 'quux', 'baz'}

In [44]:
# The difference() method (-) returns the elements in set1 that aren't in set2
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.difference(set2))
print(set1 - set2)

{1, 2, 3}
{1, 2, 3}

In [45]:
# The symmetric_difference() method (^) returns all the values from each set that
# are not in both sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set2.symmetric_difference(set1)
set2 ^ set1

{1, 2, 3, 7, 8, 9}